
<div>
   <a href="https://plot.ly/~bobtian/45/" target="_blank" title="Mapping Answers of OK Cupid Users" style="display: block; text-align: center;"><img src="https://plot.ly/~bobtian/45.png" alt="Mapping Answers of OK Cupid Users" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
   <script data-plotly="bobtian:45"  src="https://plot.ly/embed.js" async></script>
</div>

<div>
   <a href="https://plot.ly/~bobtian/47/" target="_blank" title="Correlations of OK Cupid Answers to Sex-Drive Score" style="display: block; text-align: center;"><img src="https://plot.ly/~bobtian/47.png" alt="Correlations of OK Cupid Answers to Sex-Drive Score" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
   <script data-plotly="bobtian:47"  src="https://plot.ly/embed.js" async></script>
</div>

<div>
   <a href="https://plot.ly/~bobtian/51/" target="_blank" title="Female vs Male" style="display: block; text-align: center;"><img src="https://plot.ly/~bobtian/51.png" alt="Female vs Male" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
   <script data-plotly="bobtian:51"  src="https://plot.ly/embed.js" async></script>
</div>
